@mixin btn($background-color, $color, $bold) {
    background-color: $background-color;
    color: $color;
    border-radius: 50px;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @if (bold == 'true') {
        font-weight: bolder;
    }
}
.btn{
    &.btn-color{
        @include btn($segundo, $segundo, 'true');
        &:hover{
            @include btn($segundo, $primero, 'true');
            box-shadow: $box-shadow; 
        }
    }

    &:hover{
        @include btn($primero, $segundo, 'true')
        box-shadow: box-shadow;
    }
}


.whatsapp{font-size: 20px; color: #18C401;}
.email{font-size: 20px; color: #9C001F;}
.insta{font-size: 20px; color: #F00012;}
.face{font-size: 20px; color: #003AB5;}
.twit{font-size: 20px; color: #00A6D2;}


