$primero: #000000f8;
$segundo: #ffffff;
$tercero: #ffe92e;
$cuarto:  #bd0101;
$quinto:  #1ae208;
$font-color:  #666565;
$parrafoDesktop:18px;
$parrafoMobile:20px;
$h1Desktop:55px;
$h1Mobile:40px;

$box-shadow: 0 2px 10px 0  rgba(0, 0, 0, 0.6);

$limit: 10;
$unit: 8px;

